<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="robots" content="all">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
    <title>中国住宅阳台整体装修消费趋势调查</title>
</head>
<body>

<div class="home">
    <a class="answer_btn"></a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>01</span></div>
        <span class="line"></span>
        <div class="text">你家里有几个阳台？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="01" id="radio-01-1" value="A"><label for="radio-01-1"></label>
            <div class="text"><label for="radio-01-1">A.&nbsp;&nbsp;没有阳台</label></div>
        </div>
        <div class="option">
            <input type="radio" name="01" id="radio-01-2" value="B"><label for="radio-01-2"></label>
            <div class="text"><label for="radio-01-2">B.&nbsp;&nbsp;1个</label></div>
        </div>
        <div class="option">
            <input type="radio" name="01" id="radio-01-3" value="C"><label for="radio-01-3"></label>
            <div class="text"><label for="radio-01-3">C.&nbsp;&nbsp;2个</label></div>
        </div>
        <div class="option">
            <input type="radio" name="01" id="radio-01-4" value="E"><label for="radio-01-4"></label>
            <div class="text"><label for="radio-01-4">D.&nbsp;&nbsp;3个</label></div>
        </div>
        <div class="option">
            <input type="radio" name="01" id="radio-01-5" value="F"><label for="radio-01-5"></label>
            <div class="text"><label for="radio-01-5">E.&nbsp;&nbsp;3个以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>02</span></div>
        <span class="line"></span>
        <div class="text">你家里的阳台面积多大？（若有几个阳台的，面积相加处理）</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="02" id="radio-02-1" value="A"><label for="radio-02-1"></label>
            <div class="text"><label for="radio-02-1">A.&nbsp;&nbsp;2m²以下</label></div>
        </div>
        <div class="option">
            <input type="radio" name="02" id="radio-02-2" value="B"><label for="radio-02-2"></label>
            <div class="text"><label for="radio-02-2">B.&nbsp;&nbsp;2-4m²</label></div>
        </div>
        <div class="option">
            <input type="radio" name="02" id="radio-02-3" value="C"><label for="radio-02-3"></label>
            <div class="text"><label for="radio-02-3">C.&nbsp;&nbsp;4-6m²</label></div>
        </div>
        <div class="option">
            <input type="radio" name="02" id="radio-02-4" value="D"><label for="radio-02-4"></label>
            <div class="text"><label for="radio-02-4">D.&nbsp;&nbsp;6-8m²</label></div>
        </div>
        <div class="option">
            <input type="radio" name="02" id="radio-02-5" value="E"><label for="radio-02-5"></label>
            <div class="text"><label for="radio-02-5">E.&nbsp;&nbsp;8m²以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>03</span></div>
        <span class="line"></span>
        <div class="text">你家中阳台有哪些家具和建材？（多选）</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-1" value="A"><label for="checkbox-03-1"></label>
            <div class="text"><label for="checkbox-03-1">A.&nbsp;&nbsp;门窗</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-2" value="B"><label for="checkbox-03-2"></label>
            <div class="text"><label for="checkbox-03-2">B.&nbsp;&nbsp;瓷砖</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-3" value="C"><label for="checkbox-03-3"></label>
            <div class="text"><label for="checkbox-03-3">C.&nbsp;&nbsp;地板</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-4" value="D"><label for="checkbox-03-4"></label>
            <div class="text"><label for="checkbox-03-4">D.&nbsp;&nbsp;洗脸盆</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-5" value="E"><label for="checkbox-03-5"></label>
            <div class="text"><label for="checkbox-03-5">E.&nbsp;&nbsp;收纳柜</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-6" value="F"><label for="checkbox-03-6"></label>
            <div class="text"><label for="checkbox-03-6">F.&nbsp;&nbsp;桌子</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-7" value="G"><label for="checkbox-03-7"></label>
            <div class="text"><label for="checkbox-03-7">G.&nbsp;&nbsp;椅子</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="03" id="checkbox-03-8" value="H"><label for="checkbox-03-8"></label>
            <div class="text"><label for="checkbox-03-8">H.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>04</span></div>
        <span class="line"></span>
        <div class="text">你每天在阳台的时间有多长？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="04" id="radio-04-1" value="A"><label for="radio-04-1"></label>
            <div class="text"><label for="radio-04-1">A.&nbsp;&nbsp;5分钟以内</label></div>
        </div>
        <div class="option">
            <input type="radio" name="04" id="radio-04-2" value="B"><label for="radio-04-2"></label>
            <div class="text"><label for="radio-04-2">B.&nbsp;&nbsp;5-15分钟</label></div>
        </div>
        <div class="option">
            <input type="radio" name="04" id="radio-04-3" value="C"><label for="radio-04-3"></label>
            <div class="text"><label for="radio-04-3">C.&nbsp;&nbsp;15-30分钟</label></div>
        </div>
        <div class="option">
            <input type="radio" name="04" id="radio-04-4" value="D"><label for="radio-04-4"></label>
            <div class="text"><label for="radio-04-4">D.&nbsp;&nbsp;30-60分钟</label></div>
        </div>
        <div class="option">
            <input type="radio" name="04" id="radio-04-5" value="E"><label for="radio-04-5"></label>
            <div class="text"><label for="radio-04-5">E.&nbsp;&nbsp;60分钟以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>05</span></div>
        <span class="line"></span>
        <div class="text">如果要你给家里阳台的整体设计规划打个分，你会打？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="05" id="radio-05-1" value="A"><label for="radio-05-1"></label>
            <div class="text"><label for="radio-05-1">A.&nbsp;&nbsp;5分（非常好）</label></div>
        </div>
        <div class="option">
            <input type="radio" name="05" id="radio-05-2" value="B"><label for="radio-05-2"></label>
            <div class="text"><label for="radio-05-2">B.&nbsp;&nbsp;4分</label></div>
        </div>
        <div class="option">
            <input type="radio" name="05" id="radio-05-3" value="C"><label for="radio-05-3"></label>
            <div class="text"><label for="radio-05-3">C.&nbsp;&nbsp;3分（还行）</label></div>
        </div>
        <div class="option">
            <input type="radio" name="05" id="radio-05-4" value="D"><label for="radio-05-4"></label>
            <div class="text"><label for="radio-05-4">D.&nbsp;&nbsp;2分</label></div>
        </div>
        <div class="option">
            <input type="radio" name="05" id="radio-05-5" value="E"><label for="radio-05-5"></label>
            <div class="text"><label for="radio-05-5">E.&nbsp;&nbsp;1分（非常不好）</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>06</span></div>
        <span class="line"></span>
        <div class="text">你觉得家里阳台空间得到充分利用了吗？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="06" id="radio-06-1" value="A"><label for="radio-06-1"></label>
            <div class="text"><label for="radio-06-1">A.&nbsp;&nbsp;没充分利用</label></div>
        </div>
        <div class="option">
            <input type="radio" name="06" id="radio-06-2" value="B"><label for="radio-06-2"></label>
            <div class="text"><label for="radio-06-2">B.&nbsp;&nbsp;充分利用了</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>07</span></div>
        <span class="line"></span>
        <div class="text">目前你家里阳台主要用途是什么？（最多选2个）</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-1" value="A"><label for="checkbox-07-1"></label>
            <div class="text"><label for="checkbox-07-1">A.&nbsp;&nbsp;洗晾衣服</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-2" value="B"><label for="checkbox-07-2"></label>
            <div class="text"><label for="checkbox-07-2">B.&nbsp;&nbsp;堆放杂物</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-3" value="C"><label for="checkbox-07-3"></label>
            <div class="text"><label for="checkbox-07-3">C.&nbsp;&nbsp;休闲娱乐</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-4" value="D"><label for="checkbox-07-4"></label>
            <div class="text"><label for="checkbox-07-4">D.&nbsp;&nbsp;工作</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-5" value="E"><label for="checkbox-07-5"></label>
            <div class="text"><label for="checkbox-07-5">E.&nbsp;&nbsp;刷牙洗脸</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-6" value="F"><label for="checkbox-07-6"></label>
            <div class="text"><label for="checkbox-07-6">F.&nbsp;&nbsp;种植花草</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="07" id="checkbox-07-7" value="G"><label for="checkbox-07-7"></label>
            <div class="text"><label for="checkbox-07-7">G.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>08</span></div>
        <span class="line"></span>
        <div class="text">你觉得目前家里阳台存在的主要问题是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="08" id="radio-08-1" value="A"><label for="radio-08-1"></label>
            <div class="text"><label for="radio-08-1">A.&nbsp;&nbsp;整体搭配差，阳台环境脏乱，美观度不足</label></div>
        </div>
        <div class="option">
            <input type="radio" name="08" id="radio-08-2" value="B"><label for="radio-08-2"></label>
            <div class="text"><label for="radio-08-2">B.&nbsp;&nbsp;功能单一，无法满足多种使用需求</label></div>
        </div>
        <div class="option">
            <input type="radio" name="08" id="radio-08-3" value="C"><label for="radio-08-3"></label>
            <div class="text"><label for="radio-08-3">C.&nbsp;&nbsp;空间收纳无规划，沦为杂物间</label></div>
        </div>
        <div class="option">
            <input type="radio" name="08" id="radio-08-4" value="D"><label for="radio-08-4"></label>
            <div class="text"><label for="radio-08-4">D.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>09</span></div>
        <span class="line"></span>
        <div class="text">你家阳台最大的收纳烦恼是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="09" id="radio-09-1" value="A"><label for="radio-09-1"></label>
            <div class="text"><label for="radio-09-1">A.&nbsp;&nbsp;没收纳，阳台总是沦为杂物间</label></div>
        </div>
        <div class="option">
            <input type="radio" name="09" id="radio-09-2" value="B"><label for="radio-09-2"></label>
            <div class="text"><label for="radio-09-2">B.&nbsp;&nbsp;有收纳，但利用率不高存在空间浪费</label></div>
        </div>
        <div class="option">
            <input type="radio" name="09" id="radio-09-3" value="C"><label for="radio-09-3"></label>
            <div class="text"><label for="radio-09-3">C.&nbsp;&nbsp;阳台功能分区不合理，生活不方便</label></div>
        </div>
        <div class="option">
            <input type="radio" name="09" id="radio-09-4" value="D"><label for="radio-09-4"></label>
            <div class="text"><label for="radio-09-4">D.&nbsp;&nbsp;没有烦恼</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>10</span></div>
        <span class="line"></span>
        <div class="text">你是否想过对阳台进行整体改造？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="10" id="radio-10-1" value="A"><label for="radio-10-1"></label>
            <div class="text"><label for="radio-10-1">A.&nbsp;&nbsp;有想过</label></div>
        </div>
        <div class="option">
            <input type="radio" name="10" id="radio-10-2" value="B"><label for="radio-10-2"></label>
            <div class="text"><label for="radio-10-2">B.&nbsp;&nbsp;没想过</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>11</span></div>
        <span class="line"></span>
        <div class="text">在经济能力允许范围内，你希望阳台做出什么改变？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="11" id="radio-11-1" value="A"><label for="radio-11-1"></label>
            <div class="text"><label for="radio-11-1">A.&nbsp;&nbsp;买柜子做好收纳，让阳台不凌乱就行了</label></div>
        </div>
        <div class="option">
            <input type="radio" name="11" id="radio-11-2" value="B"><label for="radio-11-2"></label>
            <div class="text"><label for="radio-11-2">B.&nbsp;&nbsp;除了晾衣服外，让阳台能满足其他功能</label></div>
        </div>
        <div class="option">
            <input type="radio" name="11" id="radio-11-3" value="C"><label for="radio-11-3"></label>
            <div class="text"><label for="radio-11-3">C.&nbsp;&nbsp;做整体阳台，由设计师规划设计，兼具美观与实用功能</label></div>
        </div>
        <div class="option">
            <input type="radio" name="11" id="radio-11-4" value="D"><label for="radio-11-4"></label>
            <div class="text"><label for="radio-11-4">D.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>12</span></div>
        <span class="line"></span>
        <div class="text">你希望阳台还具有什么使用功能？（多选）</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-1" value="A"><label for="checkbox-12-1"></label>
            <div class="text"><label for="checkbox-12-1">A.&nbsp;&nbsp;可用作储物间</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-2" value="B"><label for="checkbox-12-2"></label>
            <div class="text"><label for="checkbox-12-2">B.&nbsp;&nbsp;可用作书房</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-3" value="C"><label for="checkbox-12-3"></label>
            <div class="text"><label for="checkbox-12-3">C.&nbsp;&nbsp;可用作茶室</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-4" value="D"><label for="checkbox-12-4"></label>
            <div class="text"><label for="checkbox-12-4">D.&nbsp;&nbsp;可用作客厅一部分</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-5" value="E"><label for="checkbox-12-5"></label>
            <div class="text"><label for="checkbox-12-5">E.&nbsp;&nbsp;可用作厨房</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-6" value="F"><label for="checkbox-12-6"></label>
            <div class="text"><label for="checkbox-12-6">F.&nbsp;&nbsp;可用作卧室</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-7" value="G"><label for="checkbox-12-7"></label>
            <div class="text"><label for="checkbox-12-7">G.&nbsp;&nbsp;可用作花房</label></div>
        </div>
        <div class="option">
            <input type="checkbox" name="12" id="checkbox-12-8" value="H"><label for="checkbox-12-8"></label>
            <div class="text"><label for="checkbox-12-8">H.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>13</span></div>
        <span class="line"></span>
        <div class="text">进行阳台装修或改造，你最关心什么？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="13" id="radio-13-1" value="A"><label for="radio-13-1"></label>
            <div class="text"><label for="radio-13-1">A.&nbsp;&nbsp;所提供产品的质量</label></div>
        </div>
        <div class="option">
            <input type="radio" name="13" id="radio-13-2" value="B"><label for="radio-13-2"></label>
            <div class="text"><label for="radio-13-2">B.&nbsp;&nbsp;整体搭配</label></div>
        </div>
        <div class="option">
            <input type="radio" name="13" id="radio-13-3" value="C"><label for="radio-13-3"></label>
            <div class="text"><label for="radio-13-3">C.&nbsp;&nbsp;空间规划</label></div>
        </div>
        <div class="option">
            <input type="radio" name="13" id="radio-13-4" value="D"><label for="radio-13-4"></label>
            <div class="text"><label for="radio-13-4">D.&nbsp;&nbsp;售后服务</label></div>
        </div>
        <div class="option">
            <input type="radio" name="13" id="radio-13-5" value="E"><label for="radio-13-5"></label>
            <div class="text"><label for="radio-13-5">E.&nbsp;&nbsp;价格</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>14</span></div>
        <span class="line"></span>
        <div class="text">整体阳台装修或改造，你对哪种产品最关注？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="14" id="radio-14-1" value="A"><label for="radio-14-1"></label>
            <div class="text"><label for="radio-14-1">A.&nbsp;&nbsp;门窗</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-2" value="B"><label for="radio-14-2"></label>
            <div class="text"><label for="radio-14-2">B.&nbsp;&nbsp;定制柜子</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-3" value="C"><label for="radio-14-3"></label>
            <div class="text"><label for="radio-14-3">C.&nbsp;&nbsp;地板或地砖</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-4" value="D"><label for="radio-14-4"></label>
            <div class="text"><label for="radio-14-4">D.&nbsp;&nbsp;洗漱盆</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-5" value="E"><label for="radio-14-5"></label>
            <div class="text"><label for="radio-14-5">E.&nbsp;&nbsp;墙面</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-6" value="F"><label for="radio-14-6"></label>
            <div class="text"><label for="radio-14-6">F.&nbsp;&nbsp;吊顶</label></div>
        </div>
        <div class="option">
            <input type="radio" name="14" id="radio-14-7" value="G"><label for="radio-14-7"></label>
            <div class="text"><label for="radio-14-7">G.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>15</span></div>
        <span class="line"></span>
        <div class="text">购买阳台门窗时，你最关注其什么性能？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="15" id="radio-15-1" value="A"><label for="radio-15-1"></label>
            <div class="text"><label for="radio-15-1">A.&nbsp;&nbsp;抗风功能</label></div>
        </div>
        <div class="option">
            <input type="radio" name="15" id="radio-15-2" value="B"><label for="radio-15-2"></label>
            <div class="text"><label for="radio-15-2">B.&nbsp;&nbsp;隔热功能</label></div>
        </div>
        <div class="option">
            <input type="radio" name="15" id="radio-15-3" value="C"><label for="radio-15-3"></label>
            <div class="text"><label for="radio-15-3">C.&nbsp;&nbsp;隔音功能</label></div>
        </div>
        <div class="option">
            <input type="radio" name="15" id="radio-15-4" value="D"><label for="radio-15-4"></label>
            <div class="text"><label for="radio-15-4">D.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>16</span></div>
        <span class="line"></span>
        <div class="text">若在阳台安装定制柜子，你最关注其什么性能？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="16" id="radio-16-1" value="A"><label for="radio-16-1"></label>
            <div class="text"><label for="radio-16-1">A.&nbsp;&nbsp;防潮，不易发霉</label></div>
        </div>
        <div class="option">
            <input type="radio" name="16" id="radio-16-2" value="B"><label for="radio-16-2"></label>
            <div class="text"><label for="radio-16-2">B.&nbsp;&nbsp;抗氧化，不易褪色</label></div>
        </div>
        <div class="option">
            <input type="radio" name="16" id="radio-16-3" value="C"><label for="radio-16-3"></label>
            <div class="text"><label for="radio-16-3">C.&nbsp;&nbsp;耐磨，不易变形刮花</label></div>
        </div>
        <div class="option">
            <input type="radio" name="16" id="radio-16-4" value="D"><label for="radio-16-4"></label>
            <div class="text"><label for="radio-16-4">D.&nbsp;&nbsp;用材环保</label></div>
        </div>
        <div class="option">
            <input type="radio" name="16" id="radio-16-5" value="E"><label for="radio-16-5"></label>
            <div class="text"><label for="radio-16-5">E.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>17</span></div>
        <span class="line"></span>
        <div class="text">你愿意花费多少钱在阳台装修或改造上？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="17" id="radio-17-1" value="A"><label for="radio-17-1"></label>
            <div class="text"><label for="radio-17-1">A.&nbsp;&nbsp;1万以下</label></div>
        </div>
        <div class="option">
            <input type="radio" name="17" id="radio-17-2" value="B"><label for="radio-17-2"></label>
            <div class="text"><label for="radio-17-2">B.&nbsp;&nbsp;1万-3万</label></div>
        </div>
        <div class="option">
            <input type="radio" name="17" id="radio-17-3" value="C"><label for="radio-17-3"></label>
            <div class="text"><label for="radio-17-3">C.&nbsp;&nbsp;3万-5万</label></div>
        </div>
        <div class="option">
            <input type="radio" name="17" id="radio-17-4" value="D"><label for="radio-17-4"></label>
            <div class="text"><label for="radio-17-4">D.&nbsp;&nbsp;5万以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>18</span></div>
        <span class="line"></span>
        <div class="text">聘请专业公司进行整体阳台改造，你期望用多久时间能完成？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="18" id="radio-18-1" value="A"><label for="radio-18-1"></label>
            <div class="text"><label for="radio-18-1">A.&nbsp;&nbsp;3天以内</label></div>
        </div>
        <div class="option">
            <input type="radio" name="18" id="radio-18-2" value="B"><label for="radio-18-2"></label>
            <div class="text"><label for="radio-18-2">B.&nbsp;&nbsp;3天-7天</label></div>
        </div>
        <div class="option">
            <input type="radio" name="18" id="radio-18-3" value="C"><label for="radio-18-3"></label>
            <div class="text"><label for="radio-18-3">C.&nbsp;&nbsp;8天-14天</label></div>
        </div>
        <div class="option">
            <input type="radio" name="18" id="radio-18-4" value="D"><label for="radio-18-4"></label>
            <div class="text"><label for="radio-18-4">D.&nbsp;&nbsp;15天-30天</label></div>
        </div>
        <div class="option">
            <input type="radio" name="18" id="radio-18-5" value="E"><label for="radio-18-5"></label>
            <div class="text"><label for="radio-18-5">E.&nbsp;&nbsp;30天以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>19</span></div>
        <span class="line"></span>
        <div class="text">你的性别是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="19" id="radio-19-1" value="A"><label for="radio-19-1"></label>
            <div class="text"><label for="radio-19-1">A.&nbsp;&nbsp;男</label></div>
        </div>
        <div class="option">
            <input type="radio" name="19" id="radio-19-2" value="B"><label for="radio-19-2"></label>
            <div class="text"><label for="radio-19-2">B.&nbsp;&nbsp;女</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>20</span></div>
        <span class="line"></span>
        <div class="text">你的年龄是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="20" id="radio-20-1" value="A"><label for="radio-20-1"></label>
            <div class="text"><label for="radio-20-1">A.&nbsp;&nbsp;90后</label></div>
        </div>
        <div class="option">
            <input type="radio" name="20" id="radio-20-2" value="B"><label for="radio-20-2"></label>
            <div class="text"><label for="radio-20-2">B.&nbsp;&nbsp;80后</label></div>
        </div>
        <div class="option">
            <input type="radio" name="20" id="radio-20-3" value="C"><label for="radio-20-3"></label>
            <div class="text"><label for="radio-20-3">C.&nbsp;&nbsp;70后</label></div>
        </div>
        <div class="option">
            <input type="radio" name="20" id="radio-20-4" value="D"><label for="radio-20-4"></label>
            <div class="text"><label for="radio-20-4">D.&nbsp;&nbsp;60后</label></div>
        </div>
        <div class="option">
            <input type="radio" name="20" id="radio-20-5" value="E"><label for="radio-20-5"></label>
            <div class="text"><label for="radio-20-5">E.&nbsp;&nbsp;50后</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>21</span></div>
        <span class="line"></span>
        <div class="text">你所在的城市是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="21" id="radio-21-1" value="A"><label for="radio-21-1"></label>
            <div class="text"><label for="radio-21-1">A.&nbsp;&nbsp;一线城市</label></div>
        </div>
        <div class="option">
            <input type="radio" name="21" id="radio-21-2" value="B"><label for="radio-21-2"></label>
            <div class="text"><label for="radio-21-2">B.&nbsp;&nbsp;二线城市</label></div>
        </div>
        <div class="option">
            <input type="radio" name="21" id="radio-21-3" value="C"><label for="radio-21-3"></label>
            <div class="text"><label for="radio-21-3">C.&nbsp;&nbsp;三线城市</label></div>
        </div>
        <div class="option">
            <input type="radio" name="21" id="radio-21-4" value="E"><label for="radio-21-4"></label>
            <div class="text"><label for="radio-21-4">D.&nbsp;&nbsp;四线城市</label></div>
        </div>
        <div class="option">
            <input type="radio" name="21" id="radio-21-5" value="F"><label for="radio-21-5"></label>
            <div class="text"><label for="radio-21-5">E.&nbsp;&nbsp;其他</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>22</span></div>
        <span class="line"></span>
        <div class="text">你的房子面积是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="22" id="radio-22-1" value="A"><label for="radio-22-1"></label>
            <div class="text"><label for="radio-22-1">A.&nbsp;&nbsp;50m²以下</label></div>
        </div>
        <div class="option">
            <input type="radio" name="22" id="radio-22-2" value="B"><label for="radio-22-2"></label>
            <div class="text"><label for="radio-22-2">B.&nbsp;&nbsp;51-90m²</label></div>
        </div>
        <div class="option">
            <input type="radio" name="22" id="radio-22-3" value="C"><label for="radio-22-3"></label>
            <div class="text"><label for="radio-22-3">C.&nbsp;&nbsp;91-144m²</label></div>
        </div>
        <div class="option">
            <input type="radio" name="22" id="radio-22-4" value="D"><label for="radio-22-4"></label>
            <div class="text"><label for="radio-22-4">D.&nbsp;&nbsp;144m²以上</label></div>
        </div>
    </div>
    <a class="back_btn">上一题</a>
    <a class="next_btn">下一题</a>
</div>

<div class="bg hide">
    <div class="title">
        <div class="number"><span>23</span></div>
        <span class="line"></span>
        <div class="text">你的家庭年收入是？</div>
    </div>
    <div class="option_wrap">
        <div class="option">
            <input type="radio" name="23" id="radio-23-1" value="A"><label for="radio-23-1"></label>
            <div class="text"><label for="radio-23-1">A.&nbsp;&nbsp;10万以内</label></div>
        </div>
        <div class="option">
            <input type="radio" name="23" id="radio-23-2" value="B"><label for="radio-23-2"></label>
            <div class="text"><label for="radio-23-2">B.&nbsp;&nbsp;10-30万</label></div>
        </div>
        <div class="option">
            <input type="radio" name="23" id="radio-23-3" value="C"><label for="radio-23-3"></label>
            <div class="text"><label for="radio-23-3">C.&nbsp;&nbsp;30-50万</label></div>
        </div>
        <div class="option">
            <input type="radio" name="23" id="radio-23-4" value="D"><label for="radio-23-4"></label>
            <div class="text"><label for="radio-23-4">D.&nbsp;&nbsp;50-100万</label></div>
        </div>
        <div class="option">
            <input type="radio" name="23" id="radio-23-5" value="E"><label for="radio-23-5"></label>
            <div class="text"><label for="radio-23-5">E.&nbsp;&nbsp;100万以上</label></div>
        </div>
    </div>
    <a class="submit_btn"></a>
</div>

<script type="text/javascript" src="__PUBLIC__/js/zepto-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/mian.js"></script>
</body>
</html>